**/build
**/dist
**/.dep.inc
**/*~
/hw2/threads/dist/
/hw2/threads/build/
/hw2/mysh/build/
/hw2/mysh/dist/
/hw2/README.txt~
/hw3/baboon/build/
/hw3/baboon/dist/
/hw3/share_memory/build/
/hw3/share_memory/dist/
/hw3/mysh/build/
/hw3/mysh/out/
**/*#
*.o
*.swp
*.swn
*.swo
hw3/mysh2
/hw2/mysh/out
bin/
nbproject/
out/
hw4/mem_taichi/mem_taichi
defrag
/hw6/tiandi_filesys/test_main
mysh
disk